<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Kevin Lawson" />
  <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen, projection" />
</head>
<body>

<div id="header">
  <div id="me">
    <a href="/">
      <span id="firstname">Kevin</span>
      <span id="middlename">M</span>
      <span id="lastname">Lawson</span>
    </a>
  </div>

  <div id="sections">
	<div><a href="/apps">Apps</a></div>
	<div><a href="/mountain">Mountain</a></div>
	<div><a href="/ecosystem">Ecosystem</a></div>
    <div><a href="/about">About</a></div>
  </div>

</div>

{{ content }}